<template name="MasterLayout">
  <nav id="top" class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:pink;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-newspaper-o"></i> Paperize</a>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-right">
          <li>{{#linkTo route="articlesRoute"}}<i class="fa fa-home"></i>   Home{{/linkTo}}</li>
          {{#if currentUser}}
            <li>{{#linkTo route="sitesList"}}<i class="fa fa-align-justify"></i> Sites{{/linkTo}}</li>
            <li>{{#linkTo route="addSite"}}<i class="fa fa-plus"></i> Add Site{{/linkTo}}</li>
          {{/if}}
          <li><div class="nav navbar-nav navbar-right"> {{> loginButtons}}</div></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div id="topAnchor"></div>
    {{> yield}}
  </div>
  <!-- <nav class="navbar navbar-default navbar-static-bottom">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li>Built with Meteor</li>
      </ul>
    </div>
  </nav> -->
</template>
