<template name="Articles">





    <!-- {{#momentum plugin="fade"}} -->

<h1>Articles</h1>
  <table class="table table-hover" style="text-overflow: ellipsis;">
    <thead>
      <tr>
        <th>Site</th>
        <th>Title</th>
        <!-- <th>Authors</th> -->
        <th>Date</th>
      </tr>
    </thead>

    <tbody>

      {{#each articles}}
      {{#if summary}}
      <tr>

        <td><img src="{{siteFavIcon}}" alt="{{siteName}}"></td>
        <td class="articleLink">{{#linkTo route='articleRoute' hash='articleTop'}}<b>{{title}}</b>{{/linkTo}}</td>
        <!-- <td>{{authorsConcat}}</td> -->
        <td>{{formattedPublishingDate}}</td>

      </tr>
      <tr>

        <td></td>
        <td><div class="article"><p class="intro" style="width:60%">{{summary}}</p></div></td>
        <!-- <td>{{authorsConcat}}</td> -->
        <td></td>

      </tr>
      {{/if}}
      {{/each}}

    </tbody>
  </table>




  <!-- {{/momentum}} -->



</template>
